[Unit]
Description=VoidAuth
Requires=postgres-voidauth.service
After=postgres-voidauth.service
AssertPathExists=%h/Environments/VoidAuth/.env
AssertPathIsDirectory=%h/Appdata/VoidAuth
AssertPathIsDirectory=%h/Sockets/VoidAuth

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false
ExecStartPre=rm %h/Sockets/VoidAuth/voidauth.sock

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/voidauth/voidauth:latest
ContainerName=VoidAuth
Timezone=Europe/Warsaw
EnvironmentFile=%h/Environments/VoidAuth/.env
Volume=%h/Appdata/VoidAuth:/app/config:rw,U,Z
Volume=%h/Sockets/VoidAuth:/run/tmp:rw,U,z
Volume=VoidAuth-DB:/var/run/postgres:z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=none
User=%U:%U
UserNS=keep-id:uid=%U,gid=%U,size=1002
