[Unit]
Description=NATS

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Container]
Image=public.ecr.aws/docker/library/nats:scratch
ContainerName=nats
Volume=NATS-Data:/data:U,Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=2GB
PodmanArgs=--cpus=2
PodmanArgs=--memory-swap=0M
User=1100:1100
UserNS=auto:size=1101
Network=NATS.network
