[Unit]
# Unit description
Description=Caddy QoR

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Container]
# Base
Image=ghcr.io/rubberverse/qor-caddy:latest-alpine
ContainerName=qor-caddy
# Secrets
EnvironmentFile=/home/overseer/Environments/Caddy.env
# Volumes
Volume=${HOME}/AppData/1_CONFIGS/Caddyfile:/app/configs/Caddyfile:ro,Z
Volume=${HOME}/AppData/1_CONFIGS/Snippets:/app/configs/Snippets:ro,Z
Volume=${HOME}/AppData/3_USER/Errorpages:/app/www/errorpages:ro,Z
#Volume=${HOME}/AppData/3_USER/html:/app/www/html:ro,Z
# Shared logging directory that feeds logs into Crowdsec agent
Volume=CADDY-LOGS:/app/logs:rw,z,U
# Coraza settings
Volume=${HOME}/AppData/1_CONFIGS/Coraza:/rules:ro,Z
# Mounts
Mount=type=bind,source=/home/overseer/AppData/2_PERSIST/CADDY_DATA,destination=/app/.local/share/caddy,U=true,Z
Mount=type=bind,source=/home/overseer/AppData/2_PERSIST/CADDY_CONFIG,destination=/app/.config/caddy,U=true,Z
Mount=type=bind,source=/home/overseer/AppData/2_PERSIST/CORAZA,destination=/app/coraza,U=true,Z
# Labels
AutoUpdate=registry
NoNewPrivileges=true
# Capabilities
DropCapability=all
# Container User
User=caddy
Network=pasta:--ipv4-only,-T,9000,-T,9001,-T,9002,-T,9003,-T,9004,-T,9005,-T,9006,-T,9100,-T,10000
# Ports
PublishPort=127.0.0.1:8181:8181/tcp
PublishPort=127.0.0.1:8443:8443/tcp
PublishPort=127.0.0.1:8443:8443/udp
