[Unit]
Description=qor-frpc

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/rubberverse/qor-frp:latest-frpc
ContainerName=qor-frpc
# Secrets
# r-x------
Secret=FRP_CRT,type=mount,target=/app/certs/client.crt,uid=1001,gid=1001,mode=0500
Secret=FRP_KEY,type=mount,target=/app/certs/client.key,uid=1001,gid=1001,mode=0500
Secret=FRP_CA,type=mount,target=/app/certs/ca.crt,uid=1001,gid=1001,mode=0500
# Volumes
Volume=${HOME}/AppData/1_CONFIGS/Proxy_Configs/frpc.toml:/app/configs/frpc.toml:ro,Z
# User
User=frp_uclient
UserNS=auto
# Labels
ReadOnly=true
AutoUpdate=registry
NoNewPrivileges=true
# Network
Network=pasta:--ipv4-only,-T,8181,-T,8443,-U,8443
PublishPort=0.0.0.0:51821:51821/tcp
PublishPort=0.0.0.0:51821:51821/udp
