[Unit]
Description=Caddy QoR
AssertPathIsDirectory=%h/Configs/Caddy
AssertPathExists=%h/Configs/Caddy/Caddyfile
Requires=Caddy.socket
After=Caddy.socket

[Install]
WantedBy=default.target

[Service]
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
ExecReload=podman exec qor-caddy /app/bin/caddy reload --config /app/configs/Caddyfile --address unix//run/admin.sock

[Container]
Image=ghcr.io/rubberverse/qor-caddy:latest
ContainerName=qor-caddy
EnvironmentFile=%h/Environments/Caddy/.env
Exec=run --config /app/configs/Caddyfile
Volume=%h/Configs/Caddy/Caddyfile:/app/configs/Caddyfile:ro,Z
Volume=%h/Configs/Caddy/Snippets:/app/configs/Snippets:ro,Z
Volume=%h/Sites:/app/www/static:ro,Z
Volume=%h/Sockets:/run/tmp:z
Volume=CADDY-LOGS:/app/logs:U,z
Mount=type=bind,source=%h/Appdata/WebServer-Data,dst=/app/.local/share/caddy,U=true,Z
Mount=type=bind,source=%h/Appdata/WebServer-Conf,dst=/app/.config/caddy,U=true,Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=Caddy.network
DNS=9.9.9.10
DNS=45.11.45.11
User=%U:%U
UserNS=keep-id:uid=%U,gid=%U,size=1002
