[Unit]
Description=Mumble Server

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Container]
Image=ghcr.io/mumble-voip/mumble-server:latest
ContainerName=mumble-server
Timezone=Europe/Warsaw
EnvironmentFile=%h/Environments/Mumble/.env
Volume=%h/Certificates/wildcard_.rubberverse.xyz.crt:/app/certificates/wildcard-crt.pem:ro,z
Volume=%h/Certificates/wildcard_.rubberverse.xyz.key:/app/certificates/wildcard-key.pem:ro,z
Volume=%h/Appdata/Mumble:/data:U,Z
PublishPort=64738:64738/tcp
PublishPort=64738:64738/udp
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=Mumble.network
User=1100:1100
UserNS=auto:size=1101
