[Unit]
Description=LiveKit
Requires=valkey.service
After=valkey.service

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Install]
WantedBy=default.target

[Container]
Image=docker.io/livekit/livekit-server:latest
ContainerName=livekit-server
Exec=--config /etc/livekit.yaml
Volume=%h/Configs/LiveKit/livekit.yaml:/etc/livekit.yaml:ro,Z
Network=host
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
User=1100:1100
UserNS=auto:size=1101
