[Unit]
Description=LiveKit for DCTS
Requires=MatrixJWT.service
Before=MatrixJWT.service

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Install]
WantedBy=default.target

[Container]
Image=docker.io/livekit/livekit-server:latest
ContainerName=LiveKit
Exec=--config /etc/livekit.yaml
Volume=%h/Configs/LiveKit/livekit.yaml:/etc/livekit.yaml:ro,Z
Network=host
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=2G
PidsLimit=512
User=1002:1002
