[Unit]
Description=MatrixRTC JWT service
Requires=LiveKit.service
After=LiveKit.service

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/element-hq/lk-jwt-service:latest
ContainerName=lk-jwt-service
Network=host
EnvironmentFile=%h/Environments/Matrix/.env
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=128M
PidsLimit=128
User=1002:1002
