[Unit]
Description=Generic database service for %i

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=${RUBBERVERSE_XYZ_EXECUTABLE_MEMORY_%i}
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=localhost/dummy:latest
ContainerName=fluxer-%i
Timezone=${RUBBERVERSE_XYZ_CONTAINER_TIMEZONE}
Tmpfs=/tmp:rw,size=8m,noexec,nosuid,nodev
Tmpfs=/var/run:rw,size=8m,noexec,nosuid,nodev
HealthCmd=${RUBBERVERSE_XYZ_HEALTH_CMD_%i}
HealthInterval=${RUBBERVERSE_XYZ_HEALTH_INTERVAL_%i}
HealthRetries=${RUBBERVERSE_XYZ_HEALTH_RETRIES_%i}
HealthTimeout=${RUBBERVERSE_XYZ_HEALTH_TIMEOUT_%i}
Notify=healthy
AutoUpdate=${RUBBERVERSE_XYZ_CONTAINER_AUTOUPDATE}
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
PodmanArgs=--cpus=${RUBBERVERSE_XYZ_CPU_CORES_DATABASE_%i}
PodmanArgs=--memory-swap=${RUBBERVERSE_XYZ_SWAP_MEMORY_DATABASE_%i}
Memory=${RUBBERVERSE_XYZ_MEMORY_LIMIT_DATABASE_%i}
User=65534:65534
UserNS=auto
