[Unit]
Description=ItchClaim - Automatically claim free games, apps and assets on itch.io
AssertPathIsDirectory=%h/Appdata/itchclaim
AssertPathExists=%h/Environments/ItchClaim/.env

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/smart123s/itchclaim:latest
ContainerName=itchclaim
Exec=schedule --cron "28 0,6,12,18 * * *"
Volume=%h/Appdata/itchclaim:/data:U,Z
EnvironmentFile=%h/Environments/ItchClaim/.env
Tmpfs=/dev/shm
Network=ItchClaim.network
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
User=%U:%U
UserNS=auto:size=1002
