[Unit]
Description=Authentik Redis Component
Requires=Authentik-Postgres.service
Before=Authentik-Server.service
After=Authentik-Postgres.service

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Container]
Image=public.ecr.aws/docker/library/redis:7.4-bookworm
ContainerName=redis-authentik
# Command
Exec=redis-server /usr/local/etc/redis/redis.conf
# Environments
Environment=TZ=Europe/Warsaw
# Volumes
Volume=${HOME}/AppData/1_CONFIGS/Redis-Server/Authentik.conf:/usr/local/etc/redis/redis.conf:ro,Z
# Mounts
Mount=type=bind,src=/home/overseer/AppData/4_DATABASES/AUTHENTIK_REDIS,dst=/data,U=true,Z
# Healtcheck
HealthCmd=redis-cli ping
HealthInterval=5s
HealthRetries=20
HealthTimeout=5s
Notify=healthy
# User
User=redis
UserNS=auto
Pod=DeployAuthentik.pod
