[Unit]
Description=PostgreSQL for Vikunja
Requires=vikunja.service
Before=vikunja.service
AssertPathExists=%h/Environments/Vikunja/.pgenv
AssertPathIsDirectory=%h/Databases/Vikunja

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=public.ecr.aws/docker/library/postgres:18.1-trixie
ContainerName=postgres-vikunja
Timezone=Europe/Warsaw
EnvironmentFile=%h/Environments/Vikunja/.pgenv
Mount=type=bind,src=%h/Databases/Vikunja,dst=/var/lib/postgresql,U=true,Z
Volume=Vikunja-DB:/var/run/postgresql:z
Tmpfs=/dev/shm
HealthCmd=["CMD-SHELL", "psql -U $${POSTGRES_USER} -d $${POSTGRES_DB} -c 'SELECT 1' || exit 1"]
HealthInterval=5s
HealthRetries=5
HealthTimeout=5s
Notify=healthy
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=none
User=999:999
UserNS=auto:size=1000
