[Unit]
Description=Vikunja
Requires=postgres-vikunja.container
After=postgres-vikunja.container

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/go-vikunja/vikunja:2.3.0
ContainerName=vikunja
EnvironmentFile=%h/Environments/Vikunja/.env
Volume=%h/Userdata/Vikunja:/app/vikunja/files:U,Z
Volume=Vikunja-DB:/var/run/postgresql:z
Network=Vikunja.network
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
AddHost=auth.localhost.domain.tld:169.254.1.2
User=1100:1100
UserNS=auto:size=1101
