[Unit]
Description=Meilisearch

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=docker.io/getmeili/meilisearch:v1
ContainerName=meilisearch
Environment=MEILI_ENV=production
Environment=MEILI_NO_ANALYTICS=true
Environment=MEILI_MASTER_KEY=change_me
Environment=MEILI_UPGRADE_DB=true
Environment=MEILI_EXPERIMENTTAL_REDUCE_INDEXING_MEMORY_USAGE=true
Volume=Meili-Data:/meili_data:U,Z
Tmpfs=/tmp:rw,size=1m,noexec,nosuid,nodev
HealthCmd=wget -q -O /dev/null http://127.0.0.1:7700/health
HealthInterval=10s
HealthRetries=10
HealthTimeout=5s
Notify=healthy
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=5G
PodmanArgs=--cpus=4
PodmanArgs=--memory-swap=0M
User=1100:1100
UserNS=auto:size=1101
Network=Meilisearch.network
