[Unit]
Description=Umami Analytics
Requires=Postgres-Umami.service

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/umami-software/umami:postgresql-latest
ContainerName=umami
# Environments
EnvironmentFile=/home/overseer/Environments/Umami.env
# Labels
AutoUpdate=registry
# Umami does no disk writes so we can keep it read-only
ReadOnly=true
NoNewPrivileges=true
DropCapability=all
User=nextjs
UserNS=auto
Pod=DeployUmami.pod
