[Unit]
Description=Beszel Agent
Requires=beszel.service
After=beszel.service

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/henrygd/beszel/beszel-agent:0
ContainerName=beszel-agent
Volume=BESZEL-SOCKET:/beszel_socket:z
Volume=%h/Appdata/Beszel/agent:/var/lib/beszel-agent:Z
Volume=%t/podman/podman.sock:/run/user/%U/podman/podman.sock:ro,z
Volume=/media/Music:/extra-filesystems/sdb1__Music:ro
Environment=TOKEN=""
Environment=KEY=""
Environment=DOCKER_HOST="unix:///run/user/1001/podman/podman.sock"
Environment=LISTEN=/beszel_socket/beszel.sock
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=host
DNS=10.30.1.253
User=%U:%U
UserNS=keep-id:uid=%U,gid=%U,size=1002
