[Unit]
Description=Beszel Hub
Requires=beszel-agent.service
Before=beszel-agent.service

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/henrygd/beszel/beszel:latest
ContainerName=beszel
Environment=APP_URL=https://beszel.domain.tld
Volume=%h/Appdata/Beszel/data:/beszel_data:U,Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=Beszel.network
AddHost=auth.domain.tld;beszel.domain.tld:169.254.1.2
Memory=64M
User=1100:1100
UserNS=auto:size=1101
