[Unit]
Description=Beszel Agent
AssertPathIsDirectory=%h/Appdata/Beszel/agent
AssertPathExists=%t/podman/podman.sock
Requires=beszel.service
Requires=socket-proxy.service
After=beszel.service
After=socket-proxy.service

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/henrygd/beszel/beszel-agent:0
ContainerName=beszel-agent
EnvironmentFile=%h/Environments/Beszel/.env
Volume=%h/Appdata/Beszel/agent:/var/lib/beszel-agent:Z
Volume=/media/Music:/extra-filesystems/sdb1___Music:ro
Volume=PROXY_BESZEL:/run/tmp:z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=host
DNS=10.30.1.253
User=1100:1100
UserNS=auto:size=1101
