# VPS
[Unit]
Description=Beszel Agent

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/henrygd/beszel/beszel-agent:latest
ContainerName=beszel-agent
Volume=%h/Appdata/Beszel/agent:/var/lib/beszel-agent:Z
Volume=%t/podman/podman.sock:/run/user/%U/podman/podman.sock:ro,z
Environment=TOKEN=
Environment=KEY=""
Environment=DOCKER_HOST="unix:///run/user/1002/podman/podman.sock"
Environment=LISTEN=0.0.0.0:45876
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=host
User=%U:%U
UserNS=keep-id:uid=%U,gid=%U,size=1003
