[Unit]
Description=Beszel Agent for DMZ
Requires=socket-proxy.service
After=socket-proxy.service

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/henrygd/beszel/beszel-agent:latest
ContainerName=beszel-agent
Volume=%h/Appdata/Beszel/agent:/var/lib/beszel-agent:Z
Volume=PROXY_BESZEL:/run/tmp:z
EnvironmentFile=%h/Environments/Beszel/.env
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=host
Memory=32M
User=1100:1100
UserNS=auto:size=1101
