[Unit]
Description=Socket Proxy for Beszel
Requires=beszel-agent.service
Before=beszel-agent.service

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/wollomatic/socket-proxy:1
ContainerName=beszel-socket-proxy
EnvironmentFile=%h/Environments/Beszel/.proxy
Environment=SP_SOCKETPATH=%t/podman/podman.sock
Volume=%t/podman/podman.sock:%t/podman/podman.sock:ro,z
Volume=PROXY_BESZEL:/run/tmp:U,z
DropCapability=ALL
NoNewPrivileges=true
ReadOnly=true
Memory=64M
Network=none
User=%U:%U
UserNS=keep-id:uid=%U,gid=%U,size=1002
# needed for some distros with stricter SELinux rules to allow container process access to users' podman.sock
# SecurityLabelType=unconfined_t
