[Unit]
Description=Fluxer Messages Shard
Requires=fluxer-nats.service
Requires=fluxer-postgres.service
After=fluxer-nats.container
After=fluxer-postgres.container

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Container]
Image=ghcr.io/fluxerapp/fluxer-messages:latest
ContainerName=fluxer-messages-shard
Timezone=Europe/Warsaw
EnvironmentFile=/srv/fluxer/.env
Environment=FLUXER_SVC_MODE=shard
Environment=FLUXER_SVC_SHARD_ID=0
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
Network=5Messages.network
Network=7Postgres.network