[Unit]
Description=Fluxer SeaweedFS
#Requires=fluxer-seaweedfs-init.service
#Before=fluxer-seaweedfs-init.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=${RUBBERVERSE_XYZ_SEAWEEDFS_ALT_IMAGE}:${RUBBERVERSE_XYZ_SEAWEEDFS_ALT_TAG}
ContainerName=fluxer-seaweedfs
Timezone=${RUBBERVERSE_XYZ_CONTAINER_TIMEZONE}
Environment=GODEBUG=fips140=on
Entrypoint=/usr/bin/weed
Exec=-logtostderr=${RUBBERVERSE_XYZ_SEAWEEDFS_LOGTOSTDERR} server -s3 -dir=/data -volume.max=${RUBBERVERSE_XYZ_SEAWEEDFS_30GB_BUCKETS_AMOUNT}
Volume=${RUBBERVERSE_XYZ_SEAWEEDFS_S3_STORE}:/data:U,Z
# Healthcheck
HealthCmd=wget -q -O /dev/null http://127.0.0.1:8333/healthz
HealthInterval=10s
HealthRetries=20
HealthTimeout=5s
Notify=healthy
# Labels
AutoUpdate=${RUBBERVERSE_XYZ_CONTAINER_AUTOUPDATE}
NoNewPrivileges=true
DropCapability=all
# cgroupv2
Memory=${FLUXER_SEAWEEDFS_MEMORY_LIMIT}
# User etc.
User=1000:1000
UserNS=auto:size=1001
Network=6Seaweedfs.network
