[Unit]
Description=Fluxer Valkey (Redis-compatible)
Requires=fluxer-postgres.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=public.ecr.aws/valkey/valkey:trixie
ContainerName=fluxer-valkey
Exec=valkey-server \
    --appendonly yes \
    --appendfsync everysec \
    --dir /data \
    --maxmemory ${FLUXER_VALKEY_MAXMEMORY} \
    --maxmemory-policy ${FLUXER_VALKEY_MAXMEMORY_POLICY}
Volume=FLUXER_VALKEY_PERSIST:/data:U,Z
Tmpfs=/tmp:rw,size=1m,noexec,nosuid,nodev
Tmpfs=/var/run:rw,size=1m,noexec,nosuid,nodev
HealthCmd=valkey-cli ping
HealthInterval=10s
HealthRetries=10
HealthTimeout=5s
Notify=healthy
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=256M
PodmanArgs=--cpus=2
PodmanArgs=--memory-swap=0M
User=1100:1100
UserNS=auto:size=1101
Network=8Valkey.network
