[Unit]
Description=Fluxer SeaweedFS
#Requires=fluxer-seaweedfs-init.service
#Before=fluxer-seaweedfs-init.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Container]
Image=docker.io/chrislusf/seaweedfs:4.34
ContainerName=fluxer-seaweedfs
Timezone=Europe/Warsaw
Entrypoint=/usr/bin/weed
# 1 volume = 30GB
Exec=-logtostderr=true server -s3 -dir=/data -volume.max=2
Volume=/srv/fluxer/seaweedfs:/data:U,Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
User=1000:1000
UserNS=auto:size=1001
Network=6Seaweedfs.network
