[Unit]
Description=Fluxer NATS

Requires=\
    fluxer-postgres.service \
    fluxer-gateway.service \
    fluxer-messages.service \
    fluxer-messages-shard.service \
    fluxer-users.service \
    fluxer-users-shard.service \
    fluxer-unfurl.service \
    fluxer-unfurl-shard.service \
    fluxer-snowflakes.service \
    fluxer-snowflakes-shard.service \
    fluxer-gifs.service \
    fluxer-gifs-shard.service

Before=\
    fluxer-api.service \
    fluxer-gateway.service \
    fluxer-messages-shard.service \
    fluxer-users.service \
    fluxer-users-shard.service \
    fluxer-unfurl.service \
    fluxer-unfurl-shard.service \
    fluxer-snowflakes.service \
    fluxer-snowflakes-shard.service \
    fluxer-gifs.service \
    fluxer-gifs-shard.service

After=fluxer-postgres.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
# Used by systemd
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=${RUBBERVERSE_XYZ_NATS_ALT_IMAGE}:${RUBBERVERSE_XYZ_NATS_ALT_TAG}
ContainerName=fluxer-nats
Timezone=${RUBBERVERSE_XYZ_CONTAINER_TIMEZONE}
Exec=--jetstream --config /config/nats.conf
# Volume bind
Volume=${RUBBERVERSE_XYZ_NATS_DATDIR}:/data:U,Z
Volume=${RUBBERVERSE_XYZ_NATS_CONFIG}:/config/nats.conf:ro,Z
# Labels
AutoUpdate=${RUBBERVERSE_XYZ_CONTAINER_AUTOUPDATE}
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
# cgroupv2
Memory=${FLUXER_NATS_MEMORY_LIMIT}
# User and namespace
User=${RUBBERVERSE_XYZ_NATS_USER_GROUP}
UserNS=auto:size=${RUBBERVERSE_XYZ_NATS_USERNS_SIZE}
# Network
Network=9Nats.network
