[Unit]
Description=Fluxer Valkey (Redis-compatible)

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=public.ecr.aws/valkey/valkey:8.1-trixie
ContainerName=fluxer-valkey
Timezone=Europe/Warsaw
Exec=valkey-server --save "" --appendonly no
HealthCmd=valkey-cli ping
HealthInterval=10s
HealthRetries=10
HealthTimeout=5s
Notify=healthy
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
User=1100:1100
Network=8Valkey.network