[Unit]
Description=Fluxer App Proxy
Requires=fluxer-caddy.service

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=ghcr.io/fluxer-app-proxy-self-hosted:v1
ContainerName=fluxer-app-proxy
EnvironmentFile=%h/Fluxer/.env
Environment=FLUXER_APP_PROXY_HOST=0.0.0.0
Environment=FLUXER_APP_PROXY_PORT=8080
Environment=FLUXER_BASE_DOMAIN=chat.rubberverse.xyz
Environment=FLUXER_PUBLIC_SCHEME=https
Environment=DISCOVERY_UPSTREAM_URL=http://fluxer-caddy:8088/.well-known/fluxer
Environment=PUBLIC_BOOTSTRAP_API_ENDPOINT=/api
Environment=PUBLIC_BOOTSTRAP_API_PUBLIC_ENDPOINT=https://chat.rubberverse.xyz/api
Tmpfs=/tmp:rw,size=1m,noexec,nosuid,nodev
Tmpfs=/var/run:rw,size=1m,noexec,nosuid,nodev
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=256M
PodmanArgs=--cpus=1
PodmanArgs=--memory-swap=0M
Network=4AppProxy.network
Network=0API.network
Network=0Caddy.network
Network=7Postgres.network
UserNS=auto
