[Unit]
Description=Fluxer Meilisearch

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=docker.io/getmeili/meilisearch:v1.12
ContainerName=fluxer-meilisearch
Timezone=Europe/Warsaw
Environment=MEILI_ENV=production
Environment=MEILI_NO_ANALYTICS=true
Environment=MEILI_MASTER_KEY=Run this in terminal and replace this: openssl rand -hex 32
Volume=/srv/fluxer/meili:/meili_data:U,Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
UserNS=auto:size=1100
Network=7Meilisearch.network