[Unit]
Description=Fluxer API Service
Requires=fluxer-postgres.service
Requires=fluxer-valkey.service
Requires=fluxer-nats.service
After=fluxer-postgres.service
After=fluxer-valkey.service
After=fluxer-nats.service
After=fluxer-meilisearch.service
After=fluxer-seaweedfs-init.service
After=fluxer-snowflakes.service
After=fluxer-snowflakes-shard.service
After=fluxer-messages-shard.service
After=fluxer-users.service
After=fluxer-users-shard.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=ghcr.io/fluxerapp/fluxer-api:latest
ContainerName=fluxer-api
Timezone=Europe/Warsaw
EnvironmentFile=/srv/fluxer/.env
Environment=FLUXER_API_PORT=8080
Environment=FLUXER_API_PRESIGNED_ATTACHMENT_UPLOADS_ENABLED=true
HealthCmd=node -e "fetch('http://127.0.0.1:8080/_health').then(r=>process.exit(r.ok?0:1)).catch(()=>process.exit(1))"
HealthInterval=5s
HealthRetries=5
HealthTimeout=5s
Notify=healthy
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
Network=0API.network
Network=9Nats.network
Network=8Valkey.network
Network=7Postgres.network
Network=7Meilisearch.network
Network=6Seaweedfs.network
Network=5Messages.network
Network=5Unfurl.network
Network=5Users.network