[Unit]
Description=Fluxer Gateway Service

Requires=\
    fluxer-nats.service \
    fluxer-valkey.service

After=\
    fluxer-nats.service\
    fluxer-valkey.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=ghcr.io/fluxerapp/fluxer-gateway:v1
ContainerName=fluxer-gateway
EnvironmentFile=%h/Fluxer/.env
Environment=FLUXER_GATEWAY_PORT=8080
Environment=FLUXER_GATEWAY_LOGGER_LEVEL=${RUBBERVERSE_XYZ_GATEWAY_LOGGER_LEVEL}
Environment=FLUXER_GATEWAY_MEDIA_PROXY_ENDPOINT=https://chat.rubberverse.xyz/media
Environment=FLUXER_GATEWAY_STATIC_CDN_ENDPOINT=https://chat.rubberverse.xyz
Environment=FLUXER_ERLANG_SCHEDULERS_MIN=${FLUXER_ERLANG_SCHEDULERS_MIN}
Environment=FLUXER_ERLANG_SCHEDULERS_MAX=${FLUXER_ERLANG_SCHEDULERS_MAX}
Tmpfs=/tmp:rw,size=1m,noexec,nosuid,nodev
Tmpfs=/var/run:rw,size=1m,noexec,nosuid,nodev
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
Memory=1G
PodmanArgs=--cpus=1.2
PodmanArgs=--memory-swap=0M
Network=1Gateway.network
Network=0API.network
Network=8Valkey.network
Network=9Nats.network
UserNS=auto
