[Unit]
Description=Fluxer SeaweedFS Bucket Initializer
Requires=fluxer-seaweedfs.service
After=fluxer-seaweedfs.service

[Install]
WantedBy=default.target

[Container]
Image=docker.io/chrislusf/seaweedfs:4.34
ContainerName=fluxer-seaweedfs-init
Timezone=Europe/Warsaw
Entrypoint=/bin/sh
Exec=-c "for i in $(seq 1 60); do echo 's3.bucket.create -name fluxer' | weed shell -master=fluxer-seaweedfs:9333 >/dev/null 2>&1 && break || sleep 2; done; for b in fluxer fluxer-uploads fluxer-downloads fluxer-reports fluxer-harvests; do echo \"s3.bucket.create -name $b\" | weed shell -master=fluxer-seaweedfs:9333 || true; done; echo 'buckets ready'"
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
User=1000:1000
UserNS=auto:size=1001
Network=6Seaweedfs.network