[Unit]
Description=Caddy Reverse Proxy for Fluxer
Requires=\
    fluxer-admin.service \
    fluxer-static-proxy.service \
    fluxer-media-proxy.service \
    fluxer-app-proxy.service \
    fluxer-gateway.service

After=\
    fluxer-admin.service \
    fluxer-static-proxy.service \
    fluxer-media-proxy.service \
    fluxer-app-proxy.service \
    fluxer-gateway.service

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=ghcr.io/rubberverse/qor-caddy:latest-vanilla
ContainerName=fluxer-caddy
Timezone=Europe/Warsaw
Exec=run --config /app/configs/caddyfile
Environment=FLUXER_EDGE_BIND=${FLUXER_EDGE_BIND}
Environment=FLUXER_EDGE_SITE_ADDRESS=${FLUXER_EDGE_SITE_ADDRESS}
Environment=FLUXER_EDGE_TRSTED_PROXIES=${FLUXER_EDGE_TRUSTED_PROXIES}
Volume=/srv/fluxer/caddy/caddyfile:/app/configs/caddyfile:ro,Z
Volume=FLUXER_CADDY_DATA:/app/.local/share/caddy:U,Z
Volume=FLUXER_CADDY_CONF:/app/.config/caddy:U,Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=128M
PodmanArgs=--cpus=2
PodmanArgs=--memory-swap=0M
Network=0Caddy.network
PublishPort=8777:8777
Network=0API.network
Network=0Admin.network
Network=1Gateway.network
Network=2MediaProxy.network
Network=3StaticProxy.network
UserNS=auto:size=1101
