[Unit]
Description=Fluxer Snowflakes Router
Requires=fluxer-nats.service
After=fluxer-nats.container

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=ghcr.io/fluxerapp/fluxer-snowflakes:latest
ContainerName=fluxer-snowflakes
Timezone=Europe/Warsaw
EnvironmentFile=/srv/fluxer/.env
Environment=FLUXER_SVC_MODE=router
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
Network=5Snowflakes.network