[Unit]
Description=Fluxer NATS

Requires=\
    fluxer-postgres.service \
    fluxer-gateway.service \
    fluxer-messages.service \
    fluxer-messages-shard.service \
    fluxer-users.service \
    fluxer-users-shard.service \
    fluxer-unfurl.service \
    fluxer-unfurl-shard.service \
    fluxer-snowflakes.service \
    fluxer-snowflakes-shard.service \
    fluxer-gifs.service \
    fluxer-gifs-shard.service

Before=\
    fluxer-api.service \
    fluxer-gateway.service \
    fluxer-messages-shard.service \
    fluxer-users.service \
    fluxer-users-shard.service \
    fluxer-unfurl.service \
    fluxer-unfurl-shard.service \
    fluxer-snowflakes.service \
    fluxer-snowflakes-shard.service \
    fluxer-gifs.service \
    fluxer-gifs-shard.service

After=fluxer-postgres.service

[Install]
WantedBy=default.target

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=public.ecr.aws/docker/library/nats:scratch
ContainerName=fluxer-nats
Timezone=Europe/Warsaw
Exec=--jetstream --config /config/nats.conf
Volume=/srv/fluxer/nats:/data:U,Z
Volume=/srv/fluxer/nats.conf:/config/nats.conf:ro,Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=2GB
PodmanArgs=--cpus=2
PodmanArgs=--memory-swap=0M
User=1100:1100
UserNS=auto:size=1101
Network=9Nats.network
