[Unit]
Description=Fluxer Static Proxy
Requires=fluxer-caddy.service
Before=fluxer-caddy.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=ghcr.io/fluxerapp/fluxer-static:v1
ContainerName=fluxer-static-proxy
EnvironmentFile=%h/Fluxer/.env
Tmpfs=/tmp:rw,size=1m,noexec,nosuid,nodev
Tmpfs=/var/run:rw,size=1m,noexec,nosuid,nodev
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=128M
PodmanArgs=--cpus=2
PodmanArgs=--memory-swap=0M
Network=3StaticProxy.network
UserNS=auto