[Unit]
Description=Fluxer App Proxy
Requires=fluxer-api.service
After=fluxer-api.container
After=fluxer-caddy.container

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=ghcr.io/fluxerapp/fluxer-app-proxy-self-hosted:latest
ContainerName=fluxer-app-proxy
Timezone=Europe/Warsaw
EnvironmentFile=/srv/fluxer/.env
Environment=FLUXER_APP_PROXY_HOST=0.0.0.0
Environment=FLUXER_APP_PROXY_PORT=8080
Environment=FLUXER_TRUST_CLIENT_IP_HEADER=true
Environment=FLUXER_CLIENT_IP_HEADER_NAME=x-forwarded-for
Environment=DISCOVERY_UPSTREAM_URL=http://fluxer-caddy:8088/api/.well-known/fluxer
Environment=PUBLIC_BOOTSTRAP_API_ENDPOINT=/api
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
Network=4AppProxy.network
Network=0API.network
Network=0Caddy.network
Network=7Postgres.network