[Unit]
Description=Fluxer Caddy Reverse Proxy
Requires=fluxer-admin.service
Requires=fluxer-static-proxy.service
Requires=fluxer-api.service
Requires=fluxer-gateway.service
Requires=fluxer-media-proxy.service
After=fluxer-api.service
After=fluxer-gateway.service
After=fluxer-media-proxy.service
After=fluxer-static-proxy.service
After=fluxer-admin.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=ghcr.io/rubberverse/qor-caddy:latest
ContainerName=fluxer-caddy
Timezone=Europe/Warsaw
Exec=run --config /app/configs/caddyfile
Environment=FLUXER_CADDY_SITE_ADDRESS=:8777
Volume=/srv/fluxer/caddy/caddyfile:/app/configs/caddyfile:ro,Z
Volume=CADDY-LOGS:/app/logs:U,z
Volume=CADDY_DATA:/app/.local/share/caddy:U,Z
Volume=CADDY_CONF:/app/.config/caddy:U,Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=0Caddy.network
PublishPort=8777:8777
Network=0API.network
Network=0Admin.network
Network=1Gateway.network
Network=2MediaProxy.network
Network=3StaticProxy.network
Network=4AppProxy.network