[Unit]
Description=Fluxer Worker Service
Requires=fluxer-postgres.service
Requires=fluxer-valkey.service
Requires=fluxer-nats.service
After=fluxer-postgres.service
After=fluxer-valkey.service
After=fluxer-nats.service
After=fluxer-seaweedfs-init.service
After=fluxer-snowflakes-shard.service
After=fluxer-messages-shard.service
After=fluxer-users-shard.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=ghcr.io/fluxerapp/fluxer-api:latest
ContainerName=fluxer-worker
Timezone=Europe/Warsaw
Exec=./node_modules/.bin/tsx src/WorkerEntrypoint.ts
EnvironmentFile=/srv/fluxer/.env
Environment=FLUXER_API_WORKER_MODE=all_lanes
Environment=FLUXER_API_WORKER_ENABLE_CRON_SCHEDULER=true
Environment=FLUXER_API_WORKER_ENABLE_VOICE_RECONCILIATION=true
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
Network=0Worker.network
Network=9Nats.network
Network=8Valkey.network
Network=7Postgres.network
Network=7Meilisearch.network
Network=6Seaweedfs.network
Network=5Snowflakes.network
Network=5Messages.network
Network=5Users.network