[Unit]
Description=Fluxer Valkey (Redis-compatible)
Requires=fluxer-postgres.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=${RUBBERVERSE_XYZ_VALKEY_ALT_IMAGE}:${RUBBERVERSE_XYZ_VALKEY_ALT_TAG}
ContainerName=fluxer-valkey
Timezone=${RUBBERVERSE_XYZ_CONTAINER_TIMEZONE}
Exec=valkey-server \
    --appendonly yes \
    --appendfsync everysec \
    --dir /data \
    --maxmemory ${FLUXER_VALKEY_MAXMEMORY} \
    --maxmemory-policy ${FLUXER_VALKEY_MAXMEMORY_POLICY}
# Named volume
Volume=${RUBBERVERSE_XYZ_VALKEY_DATDIR}:/data:U,Z
# Healthcheck
HealthCmd=valkey-cli ping
HealthInterval=10s
HealthRetries=10
HealthTimeout=5s
Notify=healthy
# Labels
AutoUpdate=${RUBBERVERSE_XYZ_CONTAINER_AUTOUPDATE}
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=${FLUXER_VALKEY_MEMORY_LIMIT}
# User mapping and namespace
User=${RUBBERVERSE_XYZ_VALKEY_USER_GROUP}
UserNS=auto:size=${RUBBERVERSE_XYZ_VALKEY_USERNS_SIZE}
# Network
Network=8Valkey.network
