[Unit]
Description=Fluxer SeaweedFS
# You can remove Requires= and Before= after S3 buckets 
# have been created once.
Requires=fluxer-seaweedfs-init.service
Before=fluxer-seaweedfs-init.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Container]
Image=docker.io/chrislusf/seaweedfs:4.34
ContainerName=fluxer-seaweedfs
Timezone=Europe/Warsaw
Entrypoint=/usr/bin/weed
# ~60GB-70GB = 30GB per volume
Exec=-logtostderr=true server -s3 -dir=/data -volume.max=2
Volume=/srv/fluxer/seaweedfs:/data:U,Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
User=1000:1000
UserNS=auto:size=1001
Network=6Seaweedfs.network
