[Unit]
Description=Fluxer Worker Service

Requires=\
    fluxer-postgres.service \
    fluxer-valkey.service \
    fluxer-nats.service \
#    fluxer-seaweedfs-init.service

After=\
    fluxer-postgres.service \
    fluxer-valkey.service \
    fluxer-nats.service \
#    fluxer-seaweedfs-init.service \
    fluxer-snowflakes-shard.service \
    fluxer-messages-shard.service \
    fluxer-users-shard.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=${FLUXER_REGISTRY}/fluxer-api:${FLUXER_IMAGE_TAG}
ContainerName=fluxer-worker
Timezone=${RUBBERVERSE_XYZ_CONTAINER_TIMEZONE}
EnvironmentFile=%h/Fluxer/.env
Environment=FLUXER_API_WORKER_MODE=${RUBBERVERSE_XYZ_API_WORKER_MODE}
Environment=FLUXER_API_WORKER_ENABLE_CRON_SCHEDULER=${RUBBERVERSE_XYZ_API_WORKER_ENABLE_CRON_SCHEDULER}
Environment=FLUXER_API_WORKER_ENABLE_VOICE_RECONCILIATION=${RUBBERVERSE_XYZ_API_WORKER_ENABLE_VOICE_RECONCILATION}
Environment=FLUXER_POSTGRES_MAX_CONNECTIONS=${RUBBERVERSE_XYZ_API_WORKER_POSTGRES_CONNECTIONS}
WorkingDir=/usr/src/app/fluxer_api
Entrypoint=/bin/sh
Exec=-c 'if [ -f dist/WorkerEntrypoint.js ]; then exec node dist/WorkerEntrypoint.js; else exec ./node_modules/.bin/tsx src/WorkerEntrypoint.ts; fi'
AutoUpdate=${RUBBERVERSE_XYZ_CONTAINER_AUTOUPDATE}
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=${FLUXER_WORKER_MEMORY_LIMIT}
Network=0Worker.network
Network=9Nats.network
Network=8Valkey.network
Network=7Postgres.network
Network=7Meilisearch.network
Network=6Seaweedfs.network
UserNS=auto
