[Unit]
Description=Fluxer Static Proxy
Requires=fluxer-caddy.service
Before=fluxer-caddy.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=${FLUXER_REGISTRY}/fluxer-static:${FLUXER_IMAGE_TAG}
ContainerName=fluxer-static-proxy
Timezone=${RUBBERVERSE_XYZ_CONTAINER_TIMEZONE}
EnvironmentFile=%h/Fluxer/.env
AutoUpdate=${RUBBERVERSE_XYZ_CONTAINER_AUTOUPDATE}
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=${FLUXER_STATIC_PROXY_MEMORY_LIMIT}
Network=3StaticProxy.network
UserNS=auto