[Unit]
Description=Fluxer App Proxy
Requires=fluxer-caddy.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=ghcr.io/fluxerapp/fluxer-app-proxy-self-hosted:latest
ContainerName=fluxer-app-proxy
Timezone=Europe/Warsaw
EnvironmentFile=/srv/fluxer/.env
Environment=FLUXER_APP_PROXY_HOST=0.0.0.0
Environment=FLUXER_APP_PROXY_PORT=8080
Environment=DISCOVERY_UPSTREAM_URL=http://fluxer-caddy:8088/api/.well-known/fluxer
#Environment=FLUXER_CSP_EXTRA_DEFAULT_SRC=
Environment=FLUXER_CSP_EXTRA_CONNECT_SRC=https://lk.rubberverse.xyz, wss://lk.rubberverse.xyz:7881
#Environment=FLUXER_CSP_EXTRA_IMG_SRC=
#Environment=FLUXER_CSP_EXTRA_MEDIA_SRC=
#Environment=FLUXER_CSP_EXTRA_FONT_SRC=
#Environment=FLUXER_CSP_EXTRA_SCRIPT_SRC=
#Environment=FLUXER_CSP_EXTRA_STYLE_SRC=
#Environment=FLUXER_CSP_EXTRA_FRAME_SRC=
#Environment=FLUXER_CSP_EXTRA_WORKER_SRC=
#Environment=FLUXER_CSP_EXTRA_MANIFEST_SRC=
#Environment=FLUXER_CSP_REPORT_URI=
Environment=FLUXER_TRUST_CLIENT_IP_HEADER=true
Environment=FLUXER_CLIENT_IP_HEADER_NAME=x-forwarded-for
Environment=PUBLIC_BOOTSTRAP_API_ENDPOINT=/api
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=4AppProxy.network
Network=0API.network
Network=0Caddy.network
Network=7Postgres.network
UserNS=auto
