[Unit]
Description=Comentario Comment System
Requires=postgres-comentario.service
After=postgres-comentario.service
AssertPathExists=%h/Environments/Comentario/.env
AssertPathExists=%h/Configs/Comentario/secrets.yaml

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Container]
Image=registry.gitlab.com/comentario/comentario:latest-ubuntu
ContainerName=comentario
Timezone=Europe/Warsaw
EnvironmentFile=%h/Environments/Comentario/.env
Volume=%h/Configs/Comentario/secrets.yaml:/secrets.yaml:ro,U,Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=Comentario.network
PublishPort=10.20.1.10:3001:80
Network=Postgres-Comentario.network
Sysctl=net.ipv4.ip_unprivileged_port_start=80
User=1100:1100
UserNS=auto
