[Unit]
Description=Crowdsecurity Log Agent

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/crowdsecurity/crowdsec:latest
ContainerName=crowdsec
Timezone=Europe/Warsaw
# Environments
EnvironmentFile=%h/Environments/Crowdsec/.env
Mount=type=bind,src=%h/Appdata/Crowdsec/Config,dst=/etc/crowdsec,U,Z
Mount=type=bind,src=%h/Appdata/Crowdsec/Data,dst=/var/lib/crowdsec/data,U,Z
# Log settings, Whitelists
Volume=%h/Configs/Crowdsec/whitelist-rdns.yaml:/etc/crowdsec/postoverflows/s01-whitelist/01-whitelist-rdns.yaml:ro,Z
Volume=%h/Configs/Crowdsec/whitelist-lan.yaml:/etc/crowdsec/parsers/s02-enrich/01-whitelist-lan.yaml:ro,Z
# Configuration
Volume=%h/Configs/Crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml:ro,Z
Volume=%h/Configs/Crowdsec/appsec.yaml:/etc/crowdsec/acquis.d/appsec.yaml:ro,Z
Volume=%h/Configs/Crowdsec/profiles.yaml:/etc/crowdsec/profiles.yaml:ro,Z
# Web Server Logs
Volume=CADDY-LOGS:/var/log/caddy:ro,z
Tmpfs=/usr/local/lib/crowdsec
Network=Crowdsec.network
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
User=1001:1001
