[Unit]
Description=Vaultwarden (OIDC Fork)
Requires=Postgres-Vaultwarden.service
Wants=Postgres-Vaultwarden.service

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=ghcr.io/dani-garcia/vaultwarden:latest
ContainerName=vaultwarden
Timezone=Europe/Warsaw
# Environment
EnvironmentFile=/home/overseer/Environments/.env
# Volume
Volume=/home/overseer/Appdata/Vaultwarden:/data:U
# Labels
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
# Network
Network=Communication.network
PublishPort=10.30.1.12:8000:8000/tcp
User=1001:1001
UserNS=auto:size=1003
