[Unit]
Description=Vaultwarden
AssertPathIsDirectory=%h/Appdata/Vaultwarden
AssertPathExists=%h/Environments/Vaultwarden/.env
Requires=postgres-vaultwarden.service
Wants=postgres-vaultwarden.service

[Install]
WantedBy=default-user.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=ghcr.io/dani-garcia/vaultwarden:latest
ContainerName=vaultwarden
Timezone=Europe/Warsaw
EnvironmentFile=%h/Environments/Vaultwarden/.env
Volume=%h/Appdata/Vaultwarden:/data:U,Z
Volume=Vaultwarden-DB:/var/run/postgresql:z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=Caddy.network
User=%U:%U
UserNS=auto:size=1002
