[Unit]
Description=Navidrome Music Server
AssertPathIsDirectory=%h/Appdata/Navidrome
AssertPathIsDirectory=%h/Backups/Navidrome
AssertPathIsDirectory=%h/Sockets/Navidrome
AssertPathExists=%h/Environments/Navidrome/.env
AssertPathExists=/media/Music

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=ghcr.io/navidrome/navidrome:latest
ContainerName=navidrome
EnvironmentFile=%h/Environments/Navidrome/.env
Volume=%h/Appdata/Navidrome:/data:U,Z
Volume=%h/Backups/Navidrome:/app/backups:U,Z
Volume=%h/Sockets/Navidrome:/run/tmp:U,z
Mount=type=bind,src=/media/Music,dst=/music,ro
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=Navidrome.network
AddHost=auth.domain.tld:169.254.1.2
User=%U:%U
UserNS=keep-id:uid=%U,gid=%U,size=1002
