[Unit]
Description=MatrixRTC JWT service

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/element-hq/lk-jwt-service:latest
ContainerName=lk-jwt-service
Network=MatrixRTC.network
PublishPort=10.20.1.10:8081:8081/tcp
EnvironmentFile=%h/Environments/Matrix/.env
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
PidsLimit=128
User=1100:1100
UserNS=auto:size=110
