[Unit]
Description=Tuwunel - High-performance Matrix Home Server implementation
AssertPathIsDirectory=%h/Appdata/Tuwunel/Data
AssertPathIsDirectory=%h/Appdata/Tuwunel/Backups
AssertPathExists=%h/Configs/Tuwunel/tuwunel.toml

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=ghcr.io/matrix-construct/tuwunel:main
ContainerName=tuwunel
Environment=TUWUNEL_CONFIG=/etc/tuwunel.toml
Volume=%h/Appdata/Tuwunel/Data:/var/lib/tuwunel:U,Z
Volume=%h/Appdata/Tuwunel/Backups:/var/lib/tuwunel-backups:U,Z
Volume=%h/Configs/Tuwunel/tuwunel.toml:/etc/tuwunel.toml:ro,Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=Tuwunel.network
PublishPort=10.20.1.10:8008:8008
User=1100:1100
UserNS=auto:size=1101
Memory=128M
