# v1.0 - Sample Hardened Quadlet rootful service
[Unit]
Description=Sample Quadlet

[Install]
WantedBy=default.target

[Service]
PrivateMounts=yes
# Too restrictive for containers that require /dev/null, /dev/shm. Causes fuse-overlayfs to fail if set to yes.
PrivateDevices=no
ProtectSystem=strict
# Usually fine for majority of software on containers
ProtectProc=invisible
# Very rarely needs to be set to no
ProtectKernelModules=yes
ProtectClock=yes
LockPersonality=true
# /dev/fuse only if you're using fuse-overlayfs as your storage driver (which is still recommended btw even if Podman maintainers say it's 'deprecated')
AllowDevice=/dev/null /dev/fuse
# Any extra path container process should be able to write to should be added here (non-container paths)
ReadWritePaths=/run /etc/containers /home/container_user /usr/local/share/containers
ReadOnlyPaths=/etc /var /usr /bin /sbin
# Not using ProtectHome as it will deny us from writing to container_user home directory + causes issues in some cases
InaccessiblePaths=/boot /root /home/ducky /home/overseer
KeyringMode=private
UMask=0077
# This is the maximum I could limit before I started running into a lot of issues
SystemCallFilter=~@debug @reboot @cpu-emulation @obsolete @clock @swap
# CAP_SYS_PACT, CAP_SYS_TIME don't usually cause any issues, however CAP_NET_BROADCAST & CAP_BPF sometimes can. CAP_BPF very rarely though, barely anything needs it.
CapabilityBoundingSet=~CAP_SYS_BOOT CAP_NET_BROADCAST CAP_SYSLOG CAP_SYS_TIME CAP_SYS_PACCT CAP_AUDIT_CONTROL CAP_AUDIT_READ CAP_AUDIT_WRITE CAP_NET_BROADCAST CAP_BPF CAP_SYS_TTY_CONFIG  
# 32MiB (MibiByte) memlock
LimitMEMLOCK=33554432

[Container]
Image=ghcr.io/rubberverse/qor-caddy:latest
ContainerName=sample-container
# Environments
EnvironmentFile=/home/container_user/Environments/CADDY.env
# Volumes - Configurations
Volume=/home/container_user/Configs/caddyfile:/app/configs/Caddyfile:ro,Z
Volume=/home/container_user/Configs/Snippets:/app/configs/Snippets:ro,Z
# Volumes - Sites
Volume=/home/container_user/Userdata/Sites:/app/www/static:ro,U,Z
# Volumes - Sockets
Volume=/home/container_user/Sockets/memos:/run/tmp:z
# Volumes - Logs
Volume=CADDY-LOGS:/app/logs:z,U
# Bind mounts for data persistence
Mount=type=bind,source=/home/container_user/Appdata/Caddy-Data,dst=/app/.local/share/caddy,U=true,Z
Mount=type=bind,source=/home/container_user/Appdata/Caddy-Config,dst=/app/.config/caddy,U=true,Z
# Labels
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
# Network
Network=sample_macvlan
IP=10.100.1.11
DNS=9.9.9.10
DNS=45.11.45.11
# User
User=1100:1100
# yeah we limit it to 2048 subuids:subgids because otherwise it just goes apeshit
# btw never use keep-id, it voids nearly 90% of your subuids:subgids it's absolutely insane 
UserNS=auto:size=2048

#####################
# systemd-analyze   #
#####################
# Keep in mind that this is calculated based on systemd's own point system. PrivateDevices=yes is not possible with fuse-overlayfs.

# Unmodified quadlet service without any additions
# → Overall exposure level for 1_UnitHardening.service: 9.8 UNSAFE 😨

# PrivateDevices=no, CapabilityBoundingSet=~CAP_SYS_BOOT CAP_NET_BROADCAST CAP_SYSLOG CAP_SYS_TIME CAP_SYS_PACCT CAP_AUDIT_CONTROL CAP_AUDIT_READ CAP_AUDIT_WRITE CAP_NET_BROADCAST CAP_BPF
# → Overall exposure level for 1_UnitHardening.service: 7.1 MEDIUM 😐

# PrivateDevices=yes, CapabilityBoundingSet=~CAP_SYS_BOOT CAP_NET_BROADCAST CAP_SYSLOG CAP_SYS_TIME CAP_SYS_PACCT CAP_AUDIT_CONTROL CAP_AUDIT_READ CAP_AUDIT_WRITE CAP_BPF
# → Overall exposure level for Caddy.service: 6.8 MEDIUM 😐
