import /app/configs/Snippets/GlobalConfig
import /app/configs/Snippets/References
# v2.0 - Import galore

# Wildcard certificate - *.domain.tld
*.{$FQDN} {$FQDN} {
   # Handles TLS, rate limit errors and global logs (default off)
   import settings

   # Main site
   handle @rubberverse {
      import header_csp https://{$FQDN}
      #import header_copr
      import compress {
         not path /docs/patreon* /blog/patreon* /pages/patreon*
      }
      import cache_static
      import coraza
      crowdsec
      respond "We are almost there!" 200
   }
   # Analytics
   handle @umami {
      import header_nocsp https://analytics.{$FQDN}
      import compress {
         not path /send* /api*
      }
      import cache_static
      crowdsec
      import proxy localhost:9001
   }
   # Commentario
   # Latte means that service is logged. If it doesn't have it, it will not have any logs what-so-ever.
   import latte comments.{$FQDN} comments 5m 3d
   header @comments {
      import header_csp https://comments.{$FQDN}
      crowdsec
      import proxy localhost:9002
   }
   # Keycloak
   import latte auth.{$FQDN} auth 5m 3d
   header @keycloak {
      import header_csp https://auth.{$FQDN}
      crowdsec
      import proxy localhost:9003
   }
   # Gatus
   handle @uptime {
      import header_csp https://uptime.{$FQDN}
      import compress {
         not path /dummy
      }
      import cache_static
      import coraza
      crowdsec
      import proxy localhost:9004
   }
   # Miniflux
   handle @miniflux {
      import header_csp https://news.{$FQDN}
      import cache_static
      import coraza
      crowdsec
      import proxy localhost:9005
   }
   # Search
   handle @search {
      import header_csp https://search.{$FQDN}
      import compress {
         not path /instances* /settings*
      }
      import cache_static
      import coraza
      import rlimit_path search_rlimit GET web/* 8 2m
      import proxy localhost:9006
   }
   log {
      output discard
   }
   # Abort requests to non-existent sub-domains
   abort
}