[Unit]
# Unit description
Description=Commentario comment system
Requires=Postgres-Comments.service

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Container]
# Base
Image=registry.gitlab.com/comentario/comentario:latest
ContainerName=commentario
# Timezone
Timezone=Europe/Warsaw
# Commandline
Exec=--host=0.0.0.0 --port 9002 --no-page-view-stats --email-from=<redacted>
# Secrets
Secret=COMMENTARIO_SECRETS,type=mount,target=/run/app/secrets.yaml,uid=1001,gid=1001,mode=0550
EnvironmentFile=/home/overseer/Environments/Commentario.env
# Labels
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
# Container User
User=1001:1001
# Pod
Pod=DeployComments.pod