[Unit]
# Unit description
Description=PostgreSQL for Commentario
Before=Commentario.service

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Container]
# Base
Image=public.ecr.aws/bitnami/postgresql:17.3.0-debian-12-r4
ContainerName=commentario-pgsql
Timezone=Europe/Warsaw
# Environments
EnvironmentFile=/home/overseer/Environments/Postgres/Postgres-Comments.env
# Mounts
Mount=type=bind,src=/home/overseer/AppData/4_DATABASES/COMMENTARIO_PGSQL,dst=/bitnami/postgresql,U=true,Z
# Health Check
HealthCmd=pg_isready -d comentario
HealthInterval=10s
HealthRetries=5
HealthTimeout=5s
Notify=healthy
# IPC
Tmpfs=/dev/shm
# Labels
AutoUpdate=registry
NoNewPrivileges=true
# Capabilities
DropCapability=all
# Pod
Pod=DeployComments.pod