[Unit]
Description=Gatus uptime monitoring

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Install]
WantedBy=default.target

[Container]
Image=ghcr.io/twin/gatus:latest
ContainerName=gatus
Volume=%h/Configs/Gatus/config.yaml:/config/config.yaml:ro,Z
Volume=%h/Appdata/Gatus:/data:U,Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=Gatus.network
AddHost=sourmint.internal:10.20.1.10
# Non-CF domains need proper loopback D-NAT otherwise packet will get lost in the ether as it fails to reach host (itself).
# This is more of an example of how you would do it with your own domain, ; is a separator.
AddHost=auth.rubberverse.xyz;chat.rubberverse.xyz:169.254.1.2
User=1100:1100
UserNS=auto:size=1101
