[Unit]
Description=Caddy Web Server that proxies static site to VPS

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Container]
Image=ghcr.io/rubberverse/qor-caddy:latest
ContainerName=static-blog
Environment=CONFIG_PATH=/app/configs/Caddyfile
Volume=%h/Configs/Caddy/Caddyfile:/app/configs/Caddyfile:ro,Z
Volume=%h/Userdata/Blog:/app/www:ro,U,Z
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=WebServer.network
PublishPort=7000:7000
