#cloud-config
output:
  all: "| tee -a /var/log/cloud-init-output.log"

preserve_hostname: false
manage_etc_hosts: true
timezone: Europe/Warsaw

# SSH settings, in grand scheme of things completely useless.
ssh_pwauth: false
disable_root: true

# Users to create
users:
  - name: ducky
    groups: sudo
    shell: /bin/bash
    sudo: 
      - ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - <key here>
  - name: overseer
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - <key here>

# This is how you can change password for existing users.
# (In case you really want sudo to ask for password, tho make sure to remove NOPASSWD: from sudo: on ducky user)
# chpasswd:
#  expire: false
#  users:
#  - {name: ducky, password: change_me, type: text}

# cloud-init wankery, it fails to create user directory sometimes so write-file fails.
bootcmd:
  - mkdir -p /home/overseer/.config/systemd/user

# This is how you can change password for existing users.
# (In case you really want sudo to ask for password, tho make sure to remove NOPASSWD: from sudo: on ducky user)
# chpasswd:
#  expire: false
#  users:
#  - {name: ducky, password: change_me, type: text}

# Packages to pre-install
packages:
  - qemu-guest-agent
  - cloud-guest-utils
  - unattended-upgrades
  - systemd-zram-generator
  - dbus-user-session
  - podman
  - buildah
  - cron
  - fuse-overlayfs
  - netavark
  - nftables
  - passt
  - slirp4netns
  - tini
  - uidmap
  - chrony
  - curl
  - htop

package_update: true
package_upgrade: true

# Auto grow root disk if template disk is expanded later
growpart:
  mode: auto
resize_rootfs: true

# This part allows us to write files anywhere, yay!
write_files:
  # Harden SSH
  - path: /etc/ssh/sshd_config.d/30-rubberverse.conf
    owner: root:root
    permissions: '0600'
    content: |
      Protocol 2
      TCPKeepAlive yes
      AddressFamily inet
      Port 22
      AllowUsers ducky overseer
      PubkeyAuthentication yes
      AuthorizedKeysFile  .ssh/authorized_keys
      AuthenticationMethods publickey
      HostKey /etc/ssh/ssh_host_ed25519_key
      SyslogFacility AUTH
      LogLevel INFO
      LoginGraceTime 2m
      KbdInteractiveAuthentication no
      PasswordAuthentication no
      PermitUserEnvironment no
      PermitEmptyPasswords no
      AllowAgentForwarding no
      AllowTcpForwarding no
      PermitRootLogin no
      X11Forwarding no
      PermitTunnel no
      GatewayPorts no
      StrictModes yes
      MaxAuthTries 3
      MaxSessions 3
      PrintMotd no
      PidFile /var/run/sshd.pid
  # Custom containers.conf
  # Do not set label, label_user on Debian as Debian uses AppArmor by default, not SELinux.
  - path: /etc/containers/containers.conf
    owner: root:root
    permissions: '0644'
    content: |
      [containers]
      cgroupns = "private"
      container_name_as_hostname = true
      default_sysctls = [
          "net.ipv4.ping_group_range=0 0",
          "net.ipv4.ip_unprivileged_port_start=80"
      ]
      dns_servers = [
        "10.30.1.253"
      ]
      env_host = false
      http_proxy = false
      ipcns = "private"
      keyring = true
      label = false
      label_users = false
      netns = "private"
      pidns = "private"
      pids_limit = 2048
      privileged = false
      userns = "auto"
      utsns = "private"
      log_driver = "journald"
      [network]
      network_backend = "netavark"
      netavark_plugin_dirs = [
          "/usr/local/libexec/netavark",
          "/usr/libexec/netavark",
          "/usr/local/lib/netavark",
          "/usr/lib/netavark",
      ]
      default_subnet = "10.71.0.0/16"
      default_subnet_pools = [
          {"base" = "10.72.0.0/24", "size" = 24},
          {"base" = "10.72.1.0/24", "size" = 24},
          {"base" = "10.72.2.0/24", "size" = 24},
          {"base" = "10.72.3.0/24", "size" = 24},
          {"base" = "10.72.4.0/24", "size" = 24},
          {"base" = "10.72.5.0/24", "size" = 24},
          {"base" = "10.72.6.0/24", "size" = 24},
          {"base" = "10.72.7.0/24", "size" = 24},
          {"base" = "10.72.8.0/24", "size" = 24},
          {"base" = "10.72.9.0/24", "size" = 24},
          {"base" = "10.72.10.0/24", "size" = 24},
      ]
      firewall_driver = "nftables"
      default_rootless_network_cmd = "pasta"
      [engine]
      active_service = "production"
      add_compression = ["zstd"]
      compression_format = "zstd"
      compression_level = 13
      cgroup_manager = "systemd"
      database_backend = "sqlite"
      detach_keys = "ctrl-c,ctrl-q"
      enable_port_reservation = false
      events_logger = "journald"
      healthcheck_events = false
      image_volume_mode = "anonymous"
  # Configure Podman storage.
  - path: /etc/containers/storage.conf
    owner: root:root
    permissions: '0644'
    content: |
      [storage]
      driver = "overlay"
      runroot = "/run/0/containers/storage"
      graphroot = "/usr/local/share/containers"
      [storage.options.overlay]
      ignore_chown_errors = "true"
  # Set NTS time sources.
  - path: /etc/chrony/sources.d/rubberverse-nts.sources.inv
    owner: root:root
    permissions: '0600'
    content: |
      server time.cloudflare.com iburst nts
      server nts.netnod.se iburst nts
      server ptbtime1.ptb.de iburst nts
      server ptbtime2.ptb.de iburst nts
      server ptbtime3.ptb.de iburst nts
  # Home network uses NTP server on firewall
  - path: /etc/chrony/sources.d/rubberverse-fw.sources
    owner: root:root
    permissions: '0600'
    content: |
      server 10.30.1.1 iburst
  # Make chrony read from our configuration
  - path: /etc/chrony/chrony.conf
    owner: root:root
    permissions: '0600'
    content: |
      confdir /etc/chrony/conf.d
      sourcedir /etc/chrony/sources.d
      keyfile /etc/chrony/chrony.keys
      driftfile /var/lib/chrony/chrony.drift
      ntsdumpdir /var/lib/chrony
      logdir /var/log/chrony
      maxupdateskew 100.0
      rtcsync
      makestep 1 3
      leapsectz right/UTC
  # Disabling IPv6 here as my home network doesn't use it.
  # Feel free to change this or remove this altogether.
  - path: /etc/sysctl.d/30-rubberverse.conf
    owner: root:root
    permissions: '0644'
    content: |
      net.ipv4.ip_unprivileged_port_start = 80
      net.ipv4.tcp_syncookies = 1
      net.ipv6.conf.all.disable_ipv6 = 1
      net.ipv6.conf.default.disable_ipv6 = 1
      net.ipv6.conf.lo.disable_ipv6 = 1
  # Create zram swap (static)
  - path: /etc/systemd/zram-generator.conf
    owner: root:root
    permissions: '0644'
    content: |
      [zram0]
      zram-size = 1024
      compression-algorithm = zstd
      swap-priority = 150
  # Swappiness
  - path: /etc/sysctl.d/99-cloud-tuning.conf
    owner: root:root
    permissions: '0644'
    content: |
      vm.swappiness = 180
      vm.watermark_boost_factor = 0
      vm.watermark_scale_factor = 125
      vm.page-cluster = 0
  # Configure subuid/subgid for rootless + rootful containerization
  # usermod --add-subuids 100000000-1099999999 containers
  # usermod --add-subuids 1100000000-1100099999 ducky
  # usermod --add-subuids 1101000000-2100999999 overseer
  - path: /etc/subuid
    owner: root:root
    content: |
      containers:100000000:1000000000
      ducky:1100000000:100000
      overseer:1101000000:1000000000
  # usermod --add-subgids 100000000-1099999999 containers
  # usermod --add-subgids 1100000000-1100099999 ducky
  # usermod --add-subgids 1101000000-2100999999 overseer
  - path: /etc/subgid
    owner: root:root
    content: |
      containers:100000000:1000000000
      ducky:1100000000:100000
      overseer:1101000000:1000000000
  # Unattended Upgrades
  - path: /etc/apt/apt.conf.d/20auto-upgrades
    owner: root:root
    permissions: '0644'
    content: |
      APT::Periodic::Update-Package-Lsits "1";
      APT::Periodic::Unattended-Upgrade "1";
      APT::Periodic::AutocleanInterval "7";
  # UU policy
  - path: /etc/apt/apt.conf.d/50unattended-upgrades
    owner: root:root
    permissions: '0644'
    content: |
      Unattended-Upgrade::Origins-Pattern {
        "origin=Debian,codename=${distro_codename}-security,label=Debian-Security";
        "origin=Debian,codename=${distro_codename},label=Debian-Security";
        "origin=Debian,codename=${distro_codename}-updates";
        "origin=Debian,codename=${distro_codename}";
      };
      Unattended-Upgrade::Remove-Unused-Dependencies "true";
      Unattended-Upgrade::Automatic-Reboot "true";
      Unattended-Upgrade::Automatic-Reboot-Time "03:00";
      Unattended-Upgrade::Automatic-Reboot-WithUsers "false";
      Unattended-Upgrade::MinimalSteps "true";
  # Add a helper service that runs only once and fixes various suid/sgid problems
  - path: /home/overseer/.config/systemd/user/podman-usernamespace.service
    owner: overseer:overseer
    permissions: '0700'
    content: |
      [Unit]
      Description=podman-usernamespace.service
      [Service]
      Type=oneshot
      Restart=on-failure
      TimeoutStopSec=70
      ExecStart=/usr/bin/podman unshare /bin/true
      RemainAfterExit=yes

runcmd:
  - chmod 0700 -R /home/ducky
  - systemctl daemon-reload
  - sysctl -p /etc/sysctl.d/30-rubberverse.conf || sysctl --system
  - sysctl -p /etc/sysctl.d/99-cloud-tuning.conf || sysctl --system
  - systemctl start dev-zram0.swap
  - systemctl enable --now qemu-guest-agent
  - systemctl enable --now chronyd
  - systemctl enable --now unattended-upgrades
  - systemctl enable --now fstrim.timer
  - systemctl enable --global --now dbus.service
  - systemctl reload ssh || systemctl restart ssh
  - apt -y autoremove --purge
  - apt -y autoclean
  - apt -y clean
  - mkdir -p /usr/local/share/containers
  - mkdir -p /etc/containers/systemd/0
  - mkdir -p /home/overseer/.config/containers/systemd
  - mkdir -p /home/overseer/Appdata /home/overseer/Userdata /home/overseer/Sockets /home/overseer/Environments /home/overseer/Configs /home/overseer/Databases
  - chown -R overseer:overseer /home/overseer
  - chmod 0700 -R /home/overseer
  - loginctl enable-linger overseer
  - systemctl -M overseer@ --user daemon-reload
  - systemctl -M overseer@ --user start podman-usernamespace
  - systemctl -M overseer@ --user start podman-restart.service
