[Unit]
Description=Cinny - Yet another Matrix client
AssertPathIsDirectory=%h/Configs/Cinny
AssertPathExists=%h/Configs/Cinny/config.json
AssertPathExists=%h/Configs/Cinny/nginx.conf
AssertPathExists=%h/Configs/NginxWorkaround/error.log
AssertPathExists=%h/Configs/NginxWorkaround/access.log
AssertPathExists=%h/Configs/NginxWorkaround/nginx.pid

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Container]
Image=ghcr.io/cinnyapp/cinny:v4.11.1
ContainerName=cinny
Volume=%h/Configs/Cinny/config.json:/app/config.json:ro,Z
Volume=%h/Configs/Cinny/nginx.conf:/etc/nginx/conf.d/default.conf:ro,Z
Volume=%h/Configs/NginxWorkaround/error.log:/var/log/nginx/error.log:U,z
Volume=%h/Configs/NginxWorkaround/access.log:/var/log/nginx/access.log:U,z
Volume=%h/Configs/NginxWorkaround/nginx.pid:/run/nginx.pid:U,z
Volume=NGINX-CACHE:/var/cache/nginx:U,Z
Network=Caddy.network
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
User=%U:%U
UserNS=auto:size=1002
