[Unit]
# Unit description
Description=4get search

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Container]
# Base
Image=localhost/4get:latest
ContainerName=4get
# Volumes
Volume=${HOME}/AppData/3_USER/robots.txt:/app/www/4get/data/robots.txt:ro,Z
Volume=${HOME}/AppData/1_CONFIGS/config.php:/app/www/4get/data/config.php:ro,Z
Volume=${HOME}/AppData/3_USER/socks5.txt:/app/www/4get/data/proxies/socks5.txt:ro,z
Volume=${HOME}/AppData/3_USER/https.txt:/app/www/4get/data/proxies/https.txt:ro,z
# Labels
NoNewPrivileges=true
DropCapability=all
# Container User
Network=pasta:--ipv4-only
# Ports
PublishPort=127.0.0.1:9006:9006
