import /app/configs/Snippets/GlobalConfig
import /app/configs/Snippets/References

# Root domain - domain.tld
{$FQDN} {
   import tls
   import header_csp https://blog.{$FQDN}
   import coraza
   crowdsec
   respond "Reworking internal things, we'll be back fairly soon! twitch.tv/og_mrrubberducky if you wanna talk." 200
}

# Wildcard certificate - *.domain.tld
*.{$FQDN} {
   # Request wildcard certificate via DNS-01
   import tls

   # =========================
   # Domain block
   # =========================
   @blog host blog.{$FQDN}
   @umami host analytics.{$FQDN}
   @comments host comments.{$FQDN}
   @auth host auth.{$FQDN}
   @uptime host uptime.{$FQDN}
   @miniflux host news.{$FQDN}

   # =========================
   # Site block
   # =========================

   # Blog
   handle @blog {
      crowdsec
      redir https://rubberverse.xyz 302
   }

   # Analytics
   handle @umami {
      import header_csp https://analytics.{$FQDN}
      crowdsec
      route /api* {
         import websockets localhost:9001
      }
      import oauth2-fauth localhost:9100 localhost:9100 localhost:9001
   }

   # Commentario
   handle @comments {
      import header_csp https://comments.{$FQDN}
      crowdsec
      import proxy localhost:9002
      import logged comments.log 20M 3d
   }

   # Pocket-ID
   handle @auth {
      import header_csp https://auth.{$FQDN}
      crowdsec
      import proxy localhost:9003
   }

   # Gatus
   handle @uptime {
     import header_csp https://uptime.{$FQDN}
     import coraza
     crowdsec
     import proxy localhost:9004
     import nolog
   }

   # Miniflux
   handle @miniflux {
     import header_csp https://news.{$FQDN}
     import coraza
     crowdsec
     import proxy localhost:9005
     import nolog
   }
}
