import /app/configs/Snippets/GlobalConfig
import /app/configs/Snippets/References

# 3 space identation

# Wildcard certificate - *.domain.tld
*.{$FQDN} {$FQDN} {
   import tls
   import /app/configs/Snippets/Domains

   # Redirect root domain to dashboard
   import no-log dash.{$FQDN}
   handle @rubberverse {
      redir "https://dash.{$FQDN}" 308
   }

   # Caddy file server
   import sub-log fs.{$FQDN} filesystem.log 20M 3d
   handle @filesystem {
      import header_csp https://fs.{$FQDN}
      root * /srv/app/files
      file_server browse
   }

   # Vaultwarden
   import sub-log vault.{$FQDN} vaultwarden.log 20M 3d
   handle @vaultwarden {
      import header_csp https://vault.{$FQDN}
      import proxy localhost:9004
   }

   # Element
   import no-log talk.{$FQDN}
   handle @element {
      import header_csp https://talk.{$FQDN}
      root * /srv/app/element
      file_server
   }

   # Element Call
   import no-log call.{$FQDN}
   handle @elementcall {
      import header_csp https://call.{$FQDN}
      import proxy localhost:9000
   }

   # Notes
   import no-log notes.{$FQDN}
   handle @notes {
      import header_csp https://notes.{$FQDN}
      import proxy localhost:9001
   }

   # Sydent
   import no-log identity.{$FQDN}
   handle @sydent {
      import proxy localhost:9002
   }

   # Pocket-ID
   import no-log auth.{$FQDN}
   handle @auth {
      import header_csp https://dash.{$FQDN}
      import proxy localhost:9005
   }

   # Matrix Server (conduwuit)
   import no-log chat.{$FQDN}
   handle @matrix {
   # Serve specific json responses
   @wk-server path /.well-known/matrix/server
   @wk-client path /.well-known/matrix/client
      handle @wk-server {
          root * /srv/app/files
          rewrite * /server
          header Content-Type application/json
          file_server
      }
      handle @wk-client {
          root * /srv/app/files
          rewrite * /client
          header Content-Type application/json
          file_server
      }
      import proxy localhost:9009
   }

   # Syncthing dashboard
   import sub-log sync.{$FQDN} syncthing.log 20M 3d
   handle @syncthing {
      import header_csp https://sync.{$FQDN}
      import proxy localhost:9010
   }

   # Navidrome
   import no-log music.{$FQDN}
   handle @navidrome {
      import header_csp https://music.{$FQDN}
      import proxy localhost:8100
   }

   # py-kms Stats Dashboard
   import no-log activate.{$FQDN}
   handle @overview {
      import header_csp https://kms-stats.{$FQDN}
      import proxy localhost:9012
   }

   # ConvertX
   import sub-log convert.{$FQDN} convert.log 20M 3d
   handle @convertx {
      import header_csp https://convert.{$FQDN}
      import proxy localhost:9008
   }
}
