[Unit]
Description=Sable - Yet another Matrix client

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Container]
Image=ghcr.io/sableclient/sable:latest
ContainerName=sable
Volume=%h/Configs/Sable/config.json:/app/config.json:ro,Z
PublishPort=10.20.1.10:5000:8080
NoNewPrivileges=true
DropCapability=all
User=1100:1100
UserNS=auto:size=1101
Network=Sable.network
