[Unit]
Description=Pocket-ID - OIDC Solution via Passkeys
Requires=postgres-pocketid.service
Wants=postgres-pocketid.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false

[Container]
Image=ghcr.io/pocket-id/pocket-id:next-distroless
ContainerName=pocket-id
PodmanArgs=--entrypoint /app/pocket-id
EnvironmentFile=%h/Environments/PocketID/.env
Volume=%h/Appdata/PocketID:/app/data:U,Z
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Network=PocketID.network
PublishPort=1411:1411
User=1001:1001
