[Unit]
Description=Fluxer Messages Router
Requires=\
    fluxer-nats.service \
    fluxer-postgres.service \
    fluxer-messages-shard.service

After=\
    fluxer-nats.service \
    fluxer-postgres.service

Before=\
    fluxer-messages-shard.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=ghcr.io/fluxerapp/fluxer-messages:v1
ContainerName=fluxer-messages
EnvironmentFile=%h/Fluxer/.env
Environment=FLUXER_SVC_NAME=messages
Environment=FLUXER_SVC_MODE=router
Environment=FLUXER_SVC_MAX_CONCURRENT_REQUESTS=${FLUXER_SVC_MAX_CONCURRENT_REQUESTS}
AutoUpdate=registry
Tmpfs=/tmp:rw,size=1m,noexec,nosuid,nodev
Tmpfs=/var/run:rw,size=1m,noexec,nosuid,nodev
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=64M
PodmanArgs=--cpus=2
PodmanArgs=--memory-swap=0M
Network=9Nats.network
Network=7Postgres.network
UserNS=auto
