[Unit]
Description=Fluxer Unfurl Router
Requires=\
    fluxer-nats.service \
    fluxer-unfurl-shard.service

After=\
    fluxer-nats.service

Before=\
    fluxer-unfurl-shard.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=ghcr.io/fluxerapp/fluxer-unfurl:v1
ContainerName=fluxer-unfurl
EnvironmentFile=%h/Fluxer/.env
Environment=FLUXER_SVC_NAME=unfurl
Environment=FLUXER_SVC_MODE=router
Environment=FLUXER_MEDIA_PROXY_PUBLIC_ENDPOINT=${FLUXER_PUBLIC_SCHEME}://${FLUXER_DOMAIN}/media
Environment=FLUXER_STATIC_CDN_ENDPOINT=${FLUXER_PUBLIC_SCHEME}://${FLUXER_DOMAIN}
Tmpfs=/tmp:rw,size=1m,noexec,nosuid,nodev
Tmpfs=/var/run:rw,size=1m,noexec,nosuid,nodev
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=64M
PodmanArgs=--cpus=2
PodmanArgs=--memory-swap=0M
Network=9Nats.network
UserNS=auto