[Unit]
Description=Fluxer Snowflakes Router
Requires=\
    fluxer-nats.service \
    fluxer-snowflakes-shard.service

After=fluxer-nats.container

Before=fluxer-snowflakes-shard.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=ghcr.io/fluxerapp/fluxer-snowflakes:v1
ContainerName=fluxer-snowflakes
EnvironmentFile=%h/Fluxer/.env
Environment=FLUXER_SVC_NAME=snowflakes
Environment=FLUXER_SVC_MODE=router
Tmpfs=/tmp:rw,size=1m,noexec,nosuid,nodev
Tmpfs=/var/run:rw,size=1m,noexec,nosuid,nodev
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=64M
PodmanArgs=--cpus=2
PodmanArgs=--memory-swap=0M
Network=9Nats.network
UserNS=auto