[Unit]
Description=PostgreSQL for Umami
Before=Umami.service

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

[Container]
Image=public.ecr.aws/bitnami/postgresql:17.3.0-debian-12-r4
ContainerName=postgres-umami
# Secrets
EnvironmentFile=/home/overseer/Environments/Postgres/Postgres-Umami.env
# Mounts
Mount=type=bind,src=/home/overseer/AppData/4_DATABASES/UMAMI_PGSQL,dst=/bitnami/postgresql,U=true,Z
# Healthcheck
HealthCmd=pg_isready -d umamidb
HealthInterval=5s
HealthRetries=5
HealthTimeout=5s
Notify=healthy
# Private IPC
Tmpfs=/dev/shm
# Labels
AutoUpdate=registry
NoNewPrivileges=true
# Capabilities
DropCapability=all
Pod=DeployUmami.pod
