[Unit]
Description=Fluxer Unfurl Shard
Requires=\
    fluxer-nats.service \
    fluxer-unfurl.service

After=\
    fluxer-nats.container \
    fluxer-unfurl.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=false
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=${FLUXER_REGISTRY}/fluxer-unfurl:${FLUXER_IMAGE_TAG}
ContainerName=fluxer-unfurl-shard
Timezone=${RUBBERVERSE_XYZ_CONTAINER_TIMEZONE}
EnvironmentFile=%h/Fluxer/.env
Environment=FLUXER_SVC_NAME=unfurl
Environment=FLUXER_SVC_MODE=shard
Environment=FLUXER_SVC_SHARD_ID=0
Environment=FLUXER_MEDIA_PROXY_PUBLIC_ENDPOINT=$${FLUXER_PUBLIC_ORIGIN:-$${FLUXER_PUBLIC_SCHEME:-https}://$${FLUXER_DOMAIN}}/media
Environment=FLUXER_STATIC_CDN_ENDPOINT=$${FLUXER_PUBLIC_ORIGIN:-$${FLUXER_PUBLIC_SCHEME:-https}://$${FLUXER_DOMAIN}}
AutoUpdate=${RUBBERVERSE_XYZ_CONTAINER_AUTOUPDATE}
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=${FLUXER_UNFURL_SHARD_MEMORY_LIMIT}
Network=9Nats.network
UserNS=auto