[Unit]
Description=Fluxer Messages Shard
Requires=\
    fluxer-nats.service \
    fluxer-postgres.service \
    fluxer-messages.service

After=\
    fluxer-nats.service \
    fluxer-postgres.service \
    fluxer-messages.service

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
EnvironmentFile=%h/Fluxer/.sysenv

[Container]
Image=${FLUXER_REGISTRY}/fluxer-messages:${FLUXER_IMAGE_TAG}
ContainerName=fluxer-messages-shard
Timezone=${RUBBERVERSE_XYZ_CONTAINER_TIMEZONE}
EnvironmentFile=%h/Fluxer/.env
Environment=FLUXER_SVC_NAME=messages
Environment=FLUXER_SVC_MODE=shard
Environment=FLUXER_SVC_SHARD_ID=0
Environment=FLUXER_POSTGRES_MAX_CONNECTIONS=${RUBBERVERSE_XYZ_MESSAGES_SHARD_PG_MAX_CONNECTIONS}
Environment=FLUXER_SVC_MAX_CONCURRENT_REQUESTS=${FLUXER_SVC_MAX_CONCURRENT_REQUESTS}
AutoUpdate=${RUBBERVERSE_XYZ_CONTAINER_AUTOUPDATE}
NoNewPrivileges=true
DropCapability=all
ReadOnly=true
Memory=${FLUXER_MESSAGES_SHARD_MEMORY_LIMIT}
Network=9Nats.network
Network=7Postgres.network
UserNS=auto
